html {
  scroll-behavior: smooth;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 40px;
  background-color: #000000;
  color: white;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
  transition: background-color 0.3s ease;
}

.navbar-transparent {
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(4px);
}

/* Left logo + titles */
.navbar-left {
  display: flex;
  align-items: center;
}

.navbar-logo {
  height: 32px;
  width: 60px;
  margin-right: 12px;
}

.navbar-title-group {
  display: flex;
  flex-direction: column;
}

.navbar-title {
  font-family: "Prata", serif;
  font-size: 24px;
}


/* Links */
.navbar-links {
  display: flex;
  gap: 22px;
  align-items: center;
}

.navbar-links a {
  color: white;
  text-decoration: none;
  padding: 10px 8px;
}

.navbar-links a:hover {
  color: #e2b108;
}

.navbar-links a.active {
  color: #f2b705;
  font-weight: bold;
  border-radius: 5px;
  padding: 8px 12px;
}

/* Profile */
.profile-container {
  position: relative;
}

.profile-icon {
  font-size: 26px;
  cursor: pointer;
  color: white;
  transition: 0.2s;
}

.profile-icon:hover {
  color: #f2b705;
}

/* Dropdown */
.profile-dropdown {
  position: absolute;
  right: 0;
  top: 38px;
  background: #111;
  padding: 12px;
  border-radius: 8px;
  min-width: 150px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.5);
  animation: fadeIn 0.2s ease;
}

.profile-name {
  font-size: 14px;
  color: #f2b705;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
}

.dropdown-btn {
  width: 100%;
  padding: 8px;
  background: red;
  border: none;
  color: white;
  border-radius: 6px;
  cursor: pointer;
}

.dropdown-btn:hover {
  background: #c62839;
}

/* Mobile menu icon */
.menu-icon {
  display: none;
  cursor: pointer;
}

/* Mobile */
@media (max-width: 768px) {
  .menu-icon {
    display: block;
  }

  .navbar-links {
    position: absolute;
    top: 65px;
    right: 0;
    width: 100%;
    flex-direction: column;
    background: rgba(0,0,0,0.9);
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
  }

  .navbar-links.open {
    max-height: 500px;
    padding: 10px 0;
  }

  .navbar-links a {
    padding: 15px;
    border-top: 1px solid rgba(255,255,255,0.1);
  }

  .profile-dropdown {
    position: relative;
    top: 5px;
    right: 0;
  }
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(-5px); }
  to { opacity: 1; transform: translateY(0); }
}
