html {
  scroll-behavior: smooth;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 40px;
  background-color: #000000;
  color: white;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
  transition: background-color 0.3s ease;
}

.navbar-transparent {
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(4px);
}

.navbar-left {
  display: flex;
  align-items: center;
}

.navbar-logo {
  height: 30px;
  width: 60px;
  margin-right: 20px;
}

.navbar-title {
  font-family: "Prata", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 24px;
  color: white;
  margin-top: 5px;
}

.navbar-links {
  display: flex;
  gap: 10px;
}

.navbar-links a {
  color: white;
  text-decoration: none;
  padding: 10px 15px;
  transition: color 0.3s ease;
}

.navbar-links a:hover {
  color: #e2b108;
}

.navbar-links a.active {
  color: #f2b705;
  font-weight: bold;
  border-radius: 5px;
  padding: 8px 12px;
}

/* Mobile Menu Icon */
.menu-icon {
  display: none;
  cursor: pointer;
  color: white;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .menu-icon {
    display: block;
  }

  .navbar-links {
    position: absolute;
    top: 65px;
    right: 0;
    background-color: rgba(0, 0, 0, 0.799);
    flex-direction: column;
    width: 100%;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out;
  }

  .navbar-links.open {
    max-height: 500px;
    padding: 10px 0;
  }

  .navbar-links a {
    padding: 12px 20px;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    text-align: center;
  }
}
