.admin-container {
  margin-top: 40px;
  font-family: 'Outfit', sans-serif;
}

.admin-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
}



.admin-card {
  padding: 24px;
  border-radius: 12px;
  background-color: #f9f9f9;
  transition: all 0.3s ease;
  cursor: pointer;
}

.admin-card:hover {
  background-color: #f1f1f1;
  transform: translateY(-4px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.07);
}

.admin-card h6 {
  font-size: 1.2rem;
  color: #666;
  margin-bottom: 12px;
}

.admin-count {
  font-size: 2.2rem;
  font-weight: 700;
  color: #e2b108;
}

/* Responsive tweaks */
@media screen and (max-width: 600px) {
  .admin-header h3 {
    font-size: 2rem;
  }

  .admin-card {
    padding: 16px;
  }

  .admin-count {
    font-size: 1.8rem;
  }
}
